/* Stylings for various elements of the dashboard */

body
{
  margin: 0;
  float: left;
  position: relative;
  min-width: 100%;
  height: auto;
  color: #7D7D7D;
}
a
{
  color: #666;
}
#header,#nav_bar,.cell
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*
*::-moz-selection
{
  color: #408c0b;
  background: none;
}
*::selection
{
  color: #408c0b;
  background: none;
}
*::-moz-selection:inactive
{
  color: #408c0b;
  background: none;
}
*/

#topmenu {
  z-index: 1000;
}
.main_menu
{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #0d77e3;
}
.main_menu li.current
{
  background-image: #0d77e3;
  background-repeat: no-repeat;
}
.main_menu li:hover
{
  text-transform: capitalize;
}
.main_menu li
{
  border-bottom: 1px solid #fff;
  display: block;
  width: 100%;
  font-weight: 400;
}
.main_menu li a
{
  color: #fff;
  display: block;
  padding: 17px 20px 17px 30px;
  transition: background-color 0.2s ease-out 0s;
  text-decoration: none;
}
#nav_bar
{
  position: absolute;
  top: 45px;
  width: 200px;
  z-index: 48;
  display: none;
}
#header
{
  box-shadow: 0 2px 15px #333333;
  color: #fff;
  height: 45px;
  min-width: 768px;
  width: 100%;
  z-index: 47;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  background-color: white;
}
#header_text
{
  overflow: auto;
  padding-left: 0;
  color: #2398CD;
}
#account_info
{
  padding-right: 5px;
  vertical-align: top;
  float: right;
  font-size: 0;
}
.infoTab
{
  font-size: 13px;
  border-left: 1px solid #333333;
  height: 45px;
  padding: 0 15px;
  cursor: default;
  display: inline-block;
  text-transform: capitalize;
}
.infoTab div
{
  display: inline-block;
  vertical-align: middle;
}
.infoTab a
{
  color: #999;
}
.fixer
{
  height: 45px;
}
#logout
{
  color: #d93e38;
}
#shadowhead
{
  height: 58px;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  text-align: center;
  color:#444;
  font-weight: bold;
  font-size: 26px;
  line-height: 58px;
  z-index: -5;
}
.dashIcon
{
  height: 32px;
  width: 32px;
  margin-right: 5px;
}
.dashIcon.usr
{
  background: url(../images/avatar.png);
  background-size: contain;
}
.dashIcon.logout
{
  background: url(../images/logout.png) no-repeat center;
}
#content
{
  position: relative;
  display: inline-block;
  padding: 15px 5px 15px 15px;
  white-space: nowrap;
  margin-top: 60px;
  position: relative;
  height: 50%;
  background: white;
}
*
{
  white-space: normal;
}
#fName {
  color: black;
}
